<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>AST Tree</title> 
    
    <link rel="stylesheet" href="static/template.css">
    <link rel="stylesheet" href="static/bootstrap.min.css">
    
    <script src="static/jquery-1.11.3.min.js"></script>
    <script src="static/bootstrap.min.js"></script>
    
</head>
<body>
<!--
We will create a family tree using just CSS(3)
The markup will be simple nested lists
-->

<div class="tree">
    <ul style="width:2000px;">
        <li>
            <a class="node">Parent</a>
            <ul>
                <li>
                    <a class="node" class="node">Child</a>
                    <ul>
                        <li>
                            <a class="node">Grand Child</a>
                        </li>
                        <li>
                            <a class="node">Grand Child</a>
                        </li>
                        <li>
                            <a class="node">Grand Child</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a class="node">Child</a>
                    <ul>
                        <li>
                            <a class="node">Grand Child</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a class="node">Child <br> Function</a>
                    <ul style="display:block">
                        <li>
                            <a class="node">Grand Child</a>
                        </li>
                        <li>
                            <a class="node">Grand Child</a>
                            <ul>
                                <li>
                                    <a class="node">Grand Child</a>
                                </li>
                                <li>
                                    <a class="node">Grand Child</a>
                                </li>
                                <li>
                                    <a class="node">Grand Child</a>
                                    <ul>
                                        <li>
                                            <a class="node">Grand Child</a>
                                        </li>
                                        <li>
                                            <a class="node">Grand Child</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a class="node">Grand Child</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a class="node">Child</a>
                    <ul>
                        <li><a class="node">Grand Child</a></li>
                        <li>
                            <a class="node">Grand Child</a>
                            <ul>
                                <li>
                                    <a class="node">Great Grand Child</a>
                                </li>
                                <li>
                                    <a class="node">Great Grand Child</a>
                                </li>
                                <li>
                                    <a class="node">Great Grand Child</a>
                                </li>
                            </ul>
                        </li>
                        <li><a class="node">Grand Child</a></li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</div>


<script src="static/template.js"></script>
</body>
</html>