/.deps/
/.libs/
/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache/
/config.h
/config.h.in
/config.log
/config.status
/configure
*.l[ao]
*.o
/libtool
/m4/
/src/.deps/
/src/.libs/
/src/Makefile
/src/Makefile.in
/stamp-h1

/ar-lib
/compile
/compile_commands.json
/config.guess
/config.sub
/depcomp
/install-sh
/ltmain.sh
/missing

